$sider-width: 80px;

.Sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
}

// Currently not working
.icon {
    margin: 0;
    font-size: 2em;
}

// Currently not working
.MenuItem {
    display: flex;
    flex-flow: column; 
    align-items: center;
    justify-content: flex-end;
    height: auto;
    padding-top: 0.5em;
    background-color: maroon;

}

.Search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    margin-left: 15%;
    background: transparent;
    // background-color: rgba(0, 21, 41, 0.267);

    input {
        width: 200px;
        // background-color: blue;
    }
}